@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #454545;
  font-size: 16px;
}

@media (max-width: 768px) {
  * {
    font-weight: 100;
    width: 100%;
  }
}

* a {
  text-decoration: none;
}

#wrapper {
  width: 1080px;
  margin: auto;
}

@media (max-width: 768px) {
  #wrapper {
    width: 100%;
  }
}

#header-wrapper {
  margin-bottom: 56px;
}

#header-wrapper .header-top {
  height: 103px;
}

@media (max-width: 768px) {
  #header-wrapper .header-top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5% 0 5%;
    margin: auto;
    height: 70px;
  }
}

#header-wrapper .header-top .logo {
  height: 31px;
  margin: 36px auto auto 0;
}

@media (max-width: 768px) {
  #header-wrapper .header-top .logo {
    height: 28px;
    width: 187px;
    margin: auto;
    margin-top: 20px;
  }
}

#header-wrapper .header-top .toggle-btn {
  display: none;
}

@media (max-width: 768px) {
  #header-wrapper .header-top .toggle-btn {
    display: inline-block;
    width: 33px;
    height: 24px;
    position: fixed;
    top: 22px;
    right: 5%;
    z-index: 1;
  }
}

#header-wrapper .main-visual {
  width: 100%;
  position: relative;
}

@media (max-width: 768px) {
  #header-wrapper .main-visual {
    margin-bottom: 56px;
    width: 100%;
  }
}

#header-wrapper .main-visual .main-image {
  width: 100%;
}

#header-wrapper .main-visual .catchcopy {
  width: 242px;
  position: absolute;
  top: 52px;
  right: 100px;
}

@media (max-width: 768px) {
  #header-wrapper .main-visual .catchcopy {
    top: 26px;
    right: 15px;
    width: 141px;
  }
}

@media (max-width: 768px) {
  #header-wrapper #global-nav {
    display: none;
  }
}

#header-wrapper #global-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 40px;
}

#header-wrapper #global-nav .nav-list .nav-item {
  width: 180px;
  height: 25px;
  border-right: 2px solid #575757;
}

#header-wrapper #global-nav .nav-list .nav-item:first-child {
  border-left: 2px solid #575757;
}

#header-wrapper #global-nav .nav-list .nav-item .nav-item__letter {
  display: block;
  text-align: center;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #454545;
}

#header-wrapper #global-nav .nav-list .nav-item .nav-item__letter:hover {
  color: #9aaf24;
  background-color: #fafafa;
}

#header-wrapper #global-nav .nav-list .nav-item .here {
  color: #9aaf24;
}

.contents-title {
  margin-bottom: 125px;
}

@media (max-width: 768px) {
  .contents-title {
    margin-bottom: auto;
  }
}

.section-header {
  width: 100%;
  text-align: center;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 8px 0 8px 0;
  background: url("../img/titlebar.png") no-repeat left top;
  background-size: 40px 4px;
}

.news-area {
  height: auto;
  width: 100%;
  margin-bottom: 136px;
  padding-top: 68px;
  background-color: #fafafa;
  border: 1px solid #eeeeee;
}

@media (max-width: 768px) {
  .news-area {
    width: 94%;
    padding: 56px 25px 56px 25px;
    margin: 0 auto 56px auto;
  }
}

.news-area .news-area__header {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .news-area .news-area__header {
    margin-bottom: 30px;
  }
}

.news-area .news-list {
  width: 712px;
  padding-bottom: 80px;
  margin-left: 180px;
}

@media (max-width: 768px) {
  .news-area .news-list {
    width: 100%;
    margin-left: 0px;
    padding-bottom: 0px;
  }
}

.news-area .news-list .news-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.news-area .news-list .news-list-item:last-child {
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .news-area .news-list .news-list-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .news-area .news-list .news-list-item:last-child {
    margin-bottom: 0px;
  }
}

.news-area .news-list .news-list-item .news-date {
  display: block;
  width: 130px;
  height: 28px;
  line-height: 28px;
  background-color: #333333;
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 768px) {
  .news-area .news-list .news-list-item .news-date {
    width: 113px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    margin-bottom: 12px;
  }
}

.news-area .news-list .news-list-item .heading {
  display: block;
  width: 540px;
  margin-left: 40px;
  line-height: 1.75;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .news-area .news-list .news-list-item .heading {
    width: 100%;
    margin-left: 0;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .features-area {
    width: 86%;
    margin: 0 auto 122px auto;
  }
}

.features-area .features-area__header {
  margin-bottom: 75px;
}

@media (max-width: 768px) {
  .features-area .features-area__header {
    margin-bottom: 44px;
  }
}

.features-area .features-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .features-area .features-content {
    display: block;
  }
}

.features-area .features-content .features-image {
  width: 360px;
  margin-right: 56px;
}

@media (max-width: 768px) {
  .features-area .features-content .features-image {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

.features-area .features-content .features-sentence .features-copy {
  font-size: 24px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .features-area .features-content .features-sentence .features-copy {
    line-height: 1.75;
    margin-bottom: 48px;
  }
}

.features-area .features-content .features-sentence .features-p {
  width: 665px;
  line-height: 1.6;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .features-area .features-content .features-sentence .features-p {
    width: 100%;
    font-size: 16px;
    line-height: 1.75;
  }
}

@media (max-width: 768px) {
  .subscription-area {
    width: 94%;
    margin: 0 auto 222px auto;
  }
}

.subscription-area .subscription-area__header {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .subscription-area .subscription-area__header {
    margin-bottom: 35px;
  }
}

.subscription-area .subscription-caption {
  width: 720px;
  margin: auto;
  line-height: 1.75;
  margin-bottom: 62px;
}

@media (max-width: 768px) {
  .subscription-area .subscription-caption {
    font-size: 16px;
    width: 100%;
  }
}

.subscription-area .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .subscription-area .product-list {
    display: block;
    width: 100%;
  }
}

.subscription-area .product-list .product-list__item .product-item {
  width: 336px;
  display: block;
  padding-bottom: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  border: 4px solid #c9e23f;
  -webkit-box-shadow: 0 3px 25px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 25px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0px;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.subscription-area .product-list .product-list__item .product-item:hover {
  top: -5px;
}

.subscription-area .product-list .product-list__item .product-item:hover .go-to-detail-btn {
  background: #c9e23f;
  background: -webkit-gradient(linear, left top, right top, from(#c9e23f), to(#47e3dc));
  background: -webkit-linear-gradient(left, #c9e23f 0%, #47e3dc 100%);
  background: -o-linear-gradient(left, #c9e23f 0%, #47e3dc 100%);
  background: linear-gradient(90deg, #c9e23f 0%, #47e3dc 100%);
}

@media (max-width: 768px) {
  .subscription-area .product-list .product-list__item .product-item {
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 0px;
  }
}

.subscription-area .product-list .product-list__item .product-item .product-item-img {
  width: 100%;
  margin-bottom: 35px;
}

.subscription-area .product-list .product-list__item .product-item .product-letters .product-class {
  font-size: 22px;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .subscription-area .product-list .product-list__item .product-item .product-letters .product-class {
    margin-bottom: 20px;
    width: 100%;
  }
}

.subscription-area .product-list .product-list__item .product-item .product-letters .product-price {
  margin-bottom: 38px;
  line-height: 1;
}

@media (max-width: 768px) {
  .subscription-area .product-list .product-list__item .product-item .product-letters .product-price {
    margin-bottom: 30px;
  }
}

.subscription-area .product-list .product-list__item .product-item .product-letters .product-price .¥ {
  font-size: 32px;
}

.subscription-area .product-list .product-list__item .product-item .product-letters .product-price .mass {
  font-size: 40px;
}

.subscription-area .product-list .product-list__item .product-item .product-letters .product-price .m {
  font-size: 32px;
}

.subscription-area .product-list .product-list__item .product-item .product-letters .product-caption {
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .subscription-area .product-list .product-list__item .product-item .product-letters .product-caption {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 29px;
  }
}

.subscription-area .product-list .product-list__item .product-item .go-to-detail-btn {
  height: 50px;
  background-color: #eeeeee;
  line-height: 50px;
  font-size: 14px;
  margin: 0 24px;
}

@media (max-width: 768px) {
  .subscription-area .product-list .product-list__item .product-item .go-to-detail-btn {
    height: 56px;
    width: auto;
    font-size: 16px;
    font-weight: 100;
    line-height: 56px;
    margin: 0 20px 20px 20px;
  }
}

.items-area {
  margin-bottom: 460px;
}

@media (max-width: 768px) {
  .items-area {
    width: 94%;
    margin: 0 auto 162px auto;
  }
}

.items-area .items-area__header {
  margin-bottom: 72px;
}

.items-area .items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.items-area .items-list .items-list__item {
  width: 180px;
}

.items-area .items-list .items-list__item:hover {
  opacity: .8;
}

@media (max-width: 768px) {
  .items-area .items-list .items-list__item {
    width: 33.3%;
  }
}

.items-area .items-list .items-list__item .items-list__img {
  vertical-align: bottom;
  width: 100%;
}

.takaosan-footer .copyright {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-bottom: 56px;
}

@media (max-width: 768px) {
  .takaosan-footer .copyright {
    margin-bottom: 157px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
}
